<div class="about">
  <div class="section-title">
    <i class="fa fa-list-ul" aria-hidden="true"></i>
    <span>Build info</span>
  </div>

  <div class="build-info">
    <ul>
      <li>
        <label>Version</label>
        <span title="version" class="bubble" data-ng-bind="about.build.version"></span>
      </li>

      <li>
        <label>Date</label>
        <span title="date" class="bubble" data-ng-bind="about.build.date | date:'yyyy-MM-dd HH:mm'"></span>
      </li>

      <li>
        <label>Commit</label>
        <span title="commit" class="bubble" data-ng-bind="about.build.commit"></span>
      </li>
    </ul>
  </div>

  <div class="section-title">
    <i class="fa fa-list-ul" aria-hidden="true"></i>
    <span>My projects</span>
  </div>

  <ul class="bg-solarized-7 shadow projects">
    <li data-ng-repeat="project in about.projects">
      <a data-ng-href="{{project.href}}" title="{{project.description}}">
        <i data-ng-class="'fa fa-' + project.icon" aria-hidden="true"></i>
        <span data-ng-bind="project.name"></span>
      </a>
    </li>
  </ul>
</div>
