<div class="divide">
  <ul class="items">
    <li>
      <label title="Add items to this list which can be used to calculate the needed value.">Usable items</label>
    </li>

    <li class="item" data-ng-repeat="item in divide.items">
      <button
        title="Click here to remove an item from the list"
        class="fa fa-minus-circle text-solarized-1 remove"
        data-ng-click="divide.removeItem(item)">
      </button>

      <input
        title="Enter an item here, which contain a number. (e.g. 20 - petrol)"
        type="text"
        data-ng-model="item.str"
        data-ng-change="divide.reparse()">
      <span
        title="The parsed numerical value of the element, which will be used for the calculation."
        class="parsed-value"
        data-ng-bind="item.value">
      </span>
    </li>

    <li>
      <button
        title="Click here to add new item to be used when calculating the value to be divided up."
        class="action"
        data-ng-click="divide.addItem()">
        Add new item
      </button>
    </li>
  </ul>

  <ul class="settings">
    <li>
      <label>Control</label>
    </li>

    <li>
      <input
        type="text"
        class="width-100p"
        title="Enter the value to be divided up by the items."
        placeholder="Value to divide"
        data-ng-class="divide.control.sum.css"
        data-ng-model="divide.control.sum.str"
        data-ng-change="divide.reparse()">
    </li>

    <li>
      <input
        type="text"
        class="width-100p"
        title="Enter the number of tries for a single run of the algorithm. If you have a lot of items, you want to have a high value here (e.g. for 10 items 10000 is an OK value)."
        placeholder="Number of tries"
        data-ng-class="divide.control.tries.css"
        data-ng-model="divide.control.tries.str"
        data-ng-change="divide.reparse()">
    </li>

    <li>
      <button
        title="Click here to generate an URL, which can be opened later in a browser to have the same items set as you have now."
        class="action"
        data-ng-click="divide.save()">
        Save as bookmark
      </button>
    </li>

    <li>
      <button
        title="Click here if you want to add some example items to see how this whole thing works."
        class="action"
        data-ng-click="divide.example()">
        Example
      </button>
    </li>

    <li>
      <button
        title="Click here to execute the calculation"
        class="action"
        data-ng-click="divide.run()">
        Run
      </button>
    </li>
  </ul>

  <ul class="result" data-ng-if="divide.solution">
    <li>
      <textarea title="Calculation result." data-ng-bind="divide.solution"></textarea>
    </li>
  </ul>

  <ul class="result" data-ng-if="divide.bookmark">
    <li>
      <textarea title="Use this link to open this page with your set values." data-ng-bind="divide.bookmark"></textarea>
    </li>
  </ul>
</div>
