<table class="header shadow-bottom" role="navigation">
  <tbody>
    <tr>
      <td class="title-cell text-left">
        <span class="left app-name menu-title">/home/p1100i</span>

        <div class="left build-info">
          <span title="version" class="bubble" data-ng-bind="version"></span>
          <span title="build time" class="bubble">{{buildDate | date:format}}</span>
          <span title="build commit" class="bubble" data-ng-bind="buildCommit"></span>
        </div>
      </td>
      <td class="text-right">
        <a class="menu-button right" href="https://stackexchange.com/users/916700/p1100i"><img src="https://stackexchange.com/users/flair/916700.png" width="130" height="36" alt="profile for p1100i on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for p1100i on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a>
        <a class="menu-button right" href="https://github.com/p1100i" title="GitHub profile">
          <i class="icon fa fa-github" aria-hidden="true"></i>
        </a>
        <a class="menu-button right" href="https://www.twitter.com/p1100i" title="Twitter profile">
          <i class="icon fa fa-twitter" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
