<nav class="header shadow-bottom" role="navigation">
  <div class="menu-wrapper">
    <table class="menu">
      <tbody>
        <tr>
          <td class="title-cell text-left">
            /home
          </td>
          <td class="github-profile-cell">
            <a class="menu-button" href="https://github.com/p1100i/generator-morf" title="GitHub profile"><i class="github-icon fa fa-github"></i></a>
          </td>

          <td class="se-profile-cell">
            <a class="menu-button" href="http://stackexchange.com/users/916700/p1100i"><img src="http://stackexchange.com/users/flair/916700.png" width="130" height="36" alt="profile for p1100i on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for p1100i on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</nav>

