body
  background-color $grey-white

div.page-wrapper
  height      auto
  min-height  100%

div.content-wrapper
  width           100%
  margin          0 auto
  padding-top     $header-height
  display         table
  padding-bottom  $footer-height + 50px

div.content
  margin-top 30px

.menu-button
  color           $grey-white
  display         table-cell
  padding         0 10px
  vertical-align  middle
  height          $header-height

.menu-title
  line-height $header-height

i.github-icon
  font-size 32px
  vertical-align inherit

nav.header
  color             white
  position          fixed
  width             100%
  height            $header-height
  background-color  $grey-dark
  mix-user-select(none)

div.footer
  color             white
  clear             both
  position          relative
  height            $footer-height
  margin-top        -1 * $footer-height
  text-align        right
  background-color  $grey-dark

  .menu-button
    height $footer-height

  .menu-title
    line-height $footer-height

  i.github-icon
    margin-left 5px
    padding-bottom 3px
    font-size 26px

div.menu-wrapper
  text-align center

ul.menu
  display inline-block
  text-align center

  li
    float left

a.menu-button:hover
    color white
    background-color $grey

table.menu
  width 100%
  height $header-height
  font-size 18px

  td.title-cell
    padding-left 10px

  td.se-profile-cell
    width 132px
    img
      display inherit

  td.github-profile-cell
    width 50px
