body
  background-color $grey-white

div.page-wrapper
  height      auto
  min-height  100%

div.header-wrapper, div.footer-wrapper
  min-width $content-width

div.content-wrapper
  margin          0 auto
  padding-bottom  $footer-height + 50px
  padding-top     $header-height

div.content
  margin-top  30px
  padding     0 20px

a.anchor
  opacity 0.8
  &:hover
    opacity 1

table.header
  background-color  $grey-dark
  color             white
  height            $header-height
  position          fixed
  white-space       nowrap
  width             100%
  mix-user-select(none)

  i.icon
    height      $footer-height
    line-height $header-height

  a.anchor
    height $header-height

  span.anchor-title
    line-height $header-height

  img
    margin-top 1px

  a.anchor-stackoverflow
    padding 0 4px

table.footer
  background-color  $grey-dark
  clear             both
  color             white
  height            $footer-height
  margin-top        -1 * $footer-height - 1
  position          relative
  white-space       nowrap
  width             100%

  i.icon
    height        $footer-height
    line-height   $footer-height

  a.anchor
    height $footer-height

  span.anchor-title
    line-height   $footer-height
    margin-right  5px

i.icon
  font-size       26px
  vertical-align  middle

a.anchor
  display         inline-block
  color           $grey-white
  padding         0 10px
  vertical-align  middle

  &:hover
    color             $white
    background-color  $grey

td.title-cell
  font-size 0
