body
  background-color $grey-white

div.page-wrapper
  height      auto
  min-height  100%

div.content-wrapper
  margin          0 auto
  padding-top     $header-height
  padding-bottom  $footer-height + 50px

div.content
  margin-top 30px
  padding 0 20px

table.header
  color             white
  position          fixed
  width             100%
  height            $header-height
  background-color  $grey-dark
  mix-user-select(none)

  img
    margin-top 4px

  a.menu-button
    height $header-height

  span.menu-title
    line-height $header-height

  i.icon
    font-size 33px
    vertical-align middle
    line-height $header-height

  i.home
    color $grey-light

table.footer
  width             100%
  color             white
  clear             both
  position          relative
  height            $footer-height
  margin-top        -1 * $footer-height
  background-color  $grey-dark

  a.menu-button
    height $footer-height

  span.menu-title
    line-height $footer-height

  i.icon
    font-size 26px
    vertical-align middle
    padding-right 4px

a.menu-button
  display         inline-block
  color           $grey-white
  padding         0 8px
  vertical-align  middle
  &:hover
    color white
    background-color $grey

span.menu-title
  font-size 16px
  padding   0 6px

a.home-link
  line-height   $header-height
  padding-left  10px

td.title-cell
  font-size 0

div.build-info
  display inline-block
  height 36px
  line-height 36px
  padding-top 8px

span.bubble
  mix-border-radius($border-radius)
  margin        0 5px
  padding       1px 6px
  color         white
  font-size     12px
  height        18px
  line-height   18px
  text-align    center
  background-color  $solarized-2
